.form-calendar {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1em;
  width: 40%;
}

div.days {
  padding: 1em 0 0;
}

input[type=number] {
  text-align: right;
  width: 4em;
}

input[type=submit], [type=reset] {
  cursor: pointer;
  border: 1px solid #4c4bbe;
  background-color: rgb(76, 75, 190, .2);
  padding: .12em 0;
  width: 12em;
  transition: background-color .5s;
}

select {
  padding: .12em 0;
}

input[type=submit]:hover, [type=reset]:hover {
  background-color: rgb(76, 75, 190, .4);
  transition: background-color .5s;
}

caption {
  padding: 5px 10px;
  background-color: #003366;
  color: #fff;
  font-weight: bold;
}

.error {
  color: rgb(150, 0, 0);
  cursor: default;
}